<div class="container__nav">
    <div class="container__title">
        <h1 class="text-center fw-bold text">My Profile</h1>
        <a class="btn__left"><i class="fa-solid fa-chevron-left"></i></a>
    </div>
</div>

<h2 class="subtitle">Update personal details</h2>
<div class="container__form">
    <div class="container__data">
        <div class="mb-1 container__group">
            <input type="text" class="input__text" id="name" placeholder=" ">
            <label for="name" class="label">Name</label>
        </div>
    
        <div class="mb-1 container__group">
            <input type="email" class="input__text" id="email" placeholder=" ">
            <label for="email" class="label">Email</label>
        </div>

        <div class="mb-1 container__group">
            <input type="number" class="input__text" id="phone" placeholder=" ">
            <label for="phone" class="label">Phone</label>
        </div>

        <div class="mb-1 container__group">
            <input type="text" class="input__text input__address" id="address" placeholder=" ">
            <label for="address" class="label">Address</label>
        </div>
    </div>

    <div class="">
        <button class="btn__update">Update</button>
     </div>
</div>
