

<div class="container__profile vh-100 bg-dark d-flex justify-content-center align-items-center">
    <div class="container__contain rounded-4">
        <!-- <router-outlet></router-outlet> -->
        <div class="container__nav">
            <div class="container__title">
                <a class="btn__left"><i class="fa-solid fa-chevron-left" (click)="back()"></i></a>
            </div>
        </div>
        
        <div class="container__descriptions">
            <img class="container__img" [src]="plato.picture_url"  alt="Plato de Comida">
            <h2 class="subtitle">{{plato.name | titlecase}}</h2>
            <p class="money">{{plato.price | currency}}</p>
            <div class="container__description">
                <h3 class="description__subtitle">Description</h3>
                <p class="description">{{plato.description}}</p>
            </div>
            <button class="btn" [disabled]="isAdd" (click)="addCart()">{{btnMessage}}</button>
        </div>
        <div class="container__icon d-flex justify-content-between text-center align-items-center py-4">
            <a routerLink="main" class="btn__icon"><i routerLinkActive="btn--icon" class="bi bi-house"></i></a>
            <a routerLink="profile" class="btn__icon"><i routerLinkActive="btn--icon" class="bi bi-person"></i></a>
            <a routerLink="history" class="btn__icon"><i routerLinkActive="btn--icon" class='bx bx-history'></i></a>
        </div>
    </div>
</div>


