
<div class="container__search bg-white rounded-4">
    <a class="btn__search">
        <i *ngIf="!mostrar" class='bx bx-search'></i>
        <i *ngIf="mostrar" class="bi bi-chevron-left"></i>
    </a>

    <input class="input__text" type="text" placeholder="Search" (input)="buscarxNombre()" [(ngModel)]="search">
    <a routerLink="../cart">
        <i class="bi bi-cart2 btn__cart"></i>
    </a>
</div>
<p *ngIf="mostrar === false" class="found text-center fw-bold h4 py-1">Found {{filteredProducts.length}} results</p>

<div *ngIf="mostrar">
    <div  class="container__dishes d-flex flex-nowrap">
        <a *ngFor="let c of cateList" class="btn__dishe" (click)="buscarxCategoria(c)">{{c}}</a>
    </div>
</div>

<!-- <ng-template #otro>
    
</ng-template> -->


<div *ngIf="mostrar === true" class="container__foods d-flex flex-wrap">
    <div *ngFor="let product of filteredProducts" class="container__food" (click)="selectProduct(product._id || '')">
        <img class="container__img" [src]="product.picture_url" alt="e">
        <p class="text-center pt-4 pb-1 fw-bold">{{product.name | titlecase}}</p>
        <p class="text-center pt-2 money">{{product.price | currency}}</p>    
    </div>
</div>

<aside *ngIf="filteredProducts.length === 0">
    <div class="container__noItem d-flex justify-content-center align-items-center">
        <div class="container__not text-center">
            <i class="bi bi-search icono-not"></i>
            <h2 class="subtitle">No Products Found</h2>
        </div>
    </div> 
</aside>
